body{
   background-color: white;
    margin: 0;
}

.menu{
    background-color: black;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 30%;
    font-family: Dialog;
    font-size: 35px;
    color: white;
}
contact{
    position: absolute;
    left: 50%
}