button{
    border-radius: 10px;
    border: 0px;
    padding: 3px;
}
c{
    font-size: 150%;
}
.date{
    font-size: 80%;
    color: darkgray;

}
.last{
    font-size: 68%;
    color: darkgray;
}
.last2{
    margin-top: 5px;
}
.main{
    width: 100px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
    padding: 5px;
}
p{
    margin-top: 1px;
    margin-bottom: 1px;
}
.main:hover{
    outline: 1px solid black;
}